html, body {
  background-color: #545281; 
  height: 100%; width: 100%; overflow: hidden;
  border: 0; margin: 0px; padding: 0px;
  font-family: sans-serif,Verdana, Arial, Tahoma; 
  font-size: 100%;
  text-decoration: none;
  text-align: left;
  border-collapse:collapse;
}

div.body #preview {
	padding: 0px;
	max-width:800px;
}

table {
	border-collapse: collapse;
}
td {
	text-align:center;
	vertical-align:top;
	border: 0px solid #eeeeee;
}

.title {
	font-size:200%;
	color:#ffffff;
	padding: 10px;
}
#buttonDiv  {
	height:35px;
	width:100%;
	text-align:left;
}
.button {
	width:60px; height:24px;
	border:1px solid #ffffff;
	display: inline-block;
	margin: 0px 5px;
	color: #ffffff;
	text-align:center;
	cursor:pointer;
	padding-top:8px;
}
.button:hover {
	background-color:#a6a0bc; 
}
#resultMsg{
	color:#e97b2c;
	font-size:130%;
	height:auto;
	width:100%;
	position:absolute;
	z-index:100;
	text-align: center;
	margin-top:5px;
	background-color: #545281; 
}
#errorDiv {
	height:0px;
  width:790px;
  background: #F0F0F0;
  border-bottom:1px solid #777777;
  color: #ff0000;
  text-align:left;
  overflow-y:auto;
}
#preview {
	height:95%;
	background: #FFFFFF;
	text-align:left;
	overflow:auto;
	font-family: sans-serif,Verdana, Arial, Tahoma; 
	font-size: 12pt;
}

#editor {
	background:#ffffff;
	width:98%;
	text-align:left;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size:12pt;
	/*padding:5px;*/
}
figcaption, figcaption p {
	text-align:center;
}
.caption-text, .caption-text p {
	text-align:center !important;
}
div.blockquote {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
    margin-left:40px !important;
}
div.glossary {
   /* font-weight: bold;
    font-size: 1.1em; */
}
div.list-table ul {
	list-style: none;
}
div.list-table ul li {
	display:inline-block;
	border-bottom:1px solid #A0A0A0;
	width:100px;
	float:left;
	clear:left;
	
}
div.list-table ul ul li {
  display:inline-block;
  border-bottom:1px solid #A0A0A0;
  width:400px;
  float:none;
}
.tableHeader {
	background-color:#ede;
  font-weight: bold;
}