@CHARSET "ISO-8859-1";
.toc-backref {
	color: #ffffff !important;
}
div.topic, div.admonition.note, div.note {
    border: 1px solid #ccc;
    padding: 7px 7px 0 7px;
    margin: 10px 0 10px 0em;
    font-size:90%;
}
p.topic-title {
	font-size:100%;
}
table.docutils {
    border: 0;
    border-collapse: collapse;
    margin-left: 2em;
}

pre {
    padding: 5px;
    background-color: #fefeee;
    color: #333333;
    line-height: 120%;
    border: 1px solid #eeeeae;
    border-left: none;
    border-right: none;
}

.first.last.line-block {
    display: block;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}