/*** COPYRIGHT NOTICE *********************************************************
 *
 * Copyright 2009-2017 ProjeQtOr - Pascal BERNARD - support@projeqtor.org
 * Contributors : -
 *
 * This file is part of ProjeQtOr.
 * 
 * ProjeQtOr is free software: you can redistribute it and/or modify it under 
 * the terms of the GNU Affero General Public License as published by the Free 
 * Software Foundation, either version 3 of the License, or (at your option) 
 * any later version.
 * 
 * ProjeQtOr is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS 
 * FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for 
 * more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with
 * ProjeQtOr. If not, see <http://www.gnu.org/licenses/>.
 *
 * You can get complete code of ProjeQtOr, other resource, help and information
 * about contributors at http://www.projeqtor.org 
 *     
 *** DO NOT REMOVE THIS NOTICE ************************************************/

/* ============================================================================
 * Main css styles for Printing purpose of ProjeQtOr application.
 * ============================================================================
 */

/* Imports ==================================================================== */

@import "../../external/dojo/resources/dojo.css";
@import "../../external/dijit/themes/dijit.css";
/* @import "../../external/dijit/themes/tundra/tundra.css"; */
@import "../../external/dijit/icons/commonIcons.css";
@import "FileInput.css";
@import "common.css";
@import "projeqtorIcons.css";

/* Main structure objects ===================================================== */

html, body, #mainDiv, 
#toolBarDiv, 
#logoDiv,
#contentDiv,  #listDiv, .container {
  height: 100%; width: 100%; overflow: hidden;
  border: 0; margin: 0px; padding: 0px;
  font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
  text-decoration: none;
  text-align: left;
}

.siteH1 {
	font-family: Segoe Print, Segoe UI, Brush Script MT, cursive, Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: bold; 
  font-size: 20pt; 
  text-decoration: none; 
  color: #CC3300; 
  text-shadow: 0.1em 0.1em 0.2em grey;
}
.siteH2 {
  font-family: Segoe Print, Segoe UI, Brush Script MT, cursive, Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal; 
  font-size: 14pt; 
  text-decoration: none; 
  color: #CC3300; 
}
/* Specific style for debug purpose============================================ */
html, body { 
  /* overflow: auto; /* default is hidden, possibly set to auto for debug purpose */
}

/* DIV styles presented as included in pages ================================== */

.loginFrame {
 border: 2px solid #FFFFFF;
 -moz-border-radius: 30px;
 border-radius: 20px;
 height: 275px;
 width: 500px; text-align: center;
 text-align:center;
 box-shadow: 10px 10px 5px #333; 
 -moz-box-shadow: 10px 10px 5px #333;
 -webkit-box-shadow: 10px 10px 5px #333;
 margin:0; padding:0;
}

#toolBarDiv {
  height: 25px;
  border-bottom: 1px solid #eeeeee;
}
  .menuBarItem {
    background: #ececec url(images/buttonActive.png) repeat-x bottom left;
    cursor:pointer;
    margin:0px; 
    padding:2px; 
    border: 1px solid #c0c0c0;
    border-bottom: 1px solid #9b9b9b;
    vertical-align:middle;
  }
  .menuBarItem:hover {
    border-color: #a5a5a5;
    border-bottom-color: #757575;
    color: #3C3C3C;
    background: #fcfdfd url(images/buttonHover.png) repeat-x bottom;
  }
  .menuBarSeparator {
    width: 5px;
    text-align: center;
    margin:0px; 
    padding:2px; 
    /* background: url(images/splitV.gif) repeat-y left;*/
    background: url(images/splitContainerSizerV-thumb.png) repeat-y left;
  }
#leftDiv {
  width: 20%;
  overflow: hidden;
  border-bottom: 1px solid #A0A0A0;
}
  #logoDiv {
    height: 50px;
    cursor: pointer;  
  }
    #logoTitleDiv {
      position: absolute; top: 0px; left: 0px; width: 300px; height: 54px;
      background-size: contain;
      opacity:0.9;filter:alpha(opacity=90);
      overflow: hidden;
    }
  #mapDiv { 
    border: 0px; margin: 0px; padding: 2px 0px 0px 5px; 
  }
  #messageDiv {
    overflow: auto;
    height: 30%; padding: 5px;
  }

#centerDiv { /* do not include in global definition : width: 100% brings incorrect display on FireFox and Chrome */
  overflow: hidden;
  border: 0; margin: 0px; padding: 0px;
  border-bottom: 1px solid #A0A0A0;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #A0A0A0;
}
  #listDiv {
    height: 40%;
    overflow: hidden; 
  }
    #listHeaderDiv {
      overflow: hidden; 
     /* height: 27px; */
    }
    .dojoxGridScrollbox, .ganttDiv {
      overflow: auto;
    }
    #gridContainerDiv, #reportParametersDiv {
      overflow: hidden;
    }
  #detailDiv {
    border: 0px solid green;
    margin: 0px; padding: 0px;
    overflow: hidden; 
  }
    #buttonDiv, #buttonDivContainer {
      height: 34px; overflow: hidden;
      border: 0px solid red;
      padding: 0px; margin: 0px;
      vertical-align: middle;
    }
    #buttonDiv {  
      border-bottom: 1px solid #ffffff;
    }
    #resultDivMain {
      background: #fff url(images/buttonEnabled.png) repeat-x bottom left;
      color: #555555; font-weight: bold;
      text-align: center;
      vertical-align: middle;
      margin: 4px 8px 4px 8px; padding: 5px;
      opacity:0.0;filter:alpha(opacity=00);
    }
    #formDiv {
      overflow: auto; 
      border: 0px solid red;
      margin: 0px; padding: 5px 2px;
    }
    #detailFormDiv {
      overflow: hidden;
      height: 100%;
      border: 0; margin: 0px; padding: 0px;
    }
    #workDiv {
      overflow: auto;    
    }
#statusBarDiv {
  border: 0px; margin: 0px; padding: 1px;
  overflow: hidden;
  height: 20px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #A0A0A0;
}

#parameterButtonDiv {
	overflow:hidden !important;
}
#menuBarShow {
  display: none; 
  width: 16px; 
  height:100%;
  float: left;
  top: 0px; left: 0px;
  background-color: #DDDDDD ;
  border-style:outset;
}
#menuBarIcon {
  display: block;
  margin: -7px 0px;
  top: 50%; left: 1px;
  position: absolute;
  height: 14px;
  width: 14px;
  background: url(images/spriteRoundedIconsSmall.png) no-repeat left top ;
  background-position: -30px top;
}

#listBarShow {
  display: none;
  width: 100%;
  height: 16px;
  position: absolute;
  top: -1px; left: -1px;
  background-color: #DDDDDD;
  border-style:outset;
}
#listBarIcon {
  display: block;
  margin: 0px -7px;
  top: 1px; left: 50%;
  position: absolute;
  height: 14px;
  width: 14px;
  background: url(images/spriteRoundedIconsSmall.png) no-repeat left top ;
  background-position: -15px top;
}
#detailBarShow {
  display: none;
  width: 100%;
  height: 16px;
  position: absolute;
  top: -1px; left: -1px;
  background-color: #DDDDDD;
  border-style:outset;
  z-index: 9999;
}
#detailBarIcon {
  display: block;
  margin: 0px -7px;
  top: 1px; left: 50%;
  position: absolute;
  height: 14px;
  width: 14px;
  background: url(images/spriteRoundedIconsSmall.png) no-repeat left top ;
  background-position: -45px top;
}
.leftBarIcon {
  display: block;
  margin: 0px 0px;
  top: 1px; left: -1px;
  position: relative;
  height: 16px;
  width: 14px;
  background: url(images/spriteRoundedIconsSmall.png) no-repeat left top ;
  background-position: -0px top;
}
.rightBarIcon {
  display: block;
  margin: 0px 0px;
  top: 1px; left: -1px;
  position: relative;
  height: 16px;
  width: 14px;
  background: url(images/spriteRoundedIconsSmall.png) no-repeat left top ;
  background-position: -30px top;
}
#printPreview {
      overflow: hidden; 
      border: 1px solid #555555;
      margin: 0px; padding: 0px;
}

#wait, #waitLogin {
  position: absolute;
  background-image: url(images/spinner10.gif); background-repeat: no-repeat;
  border: 0px solid #555555;
  margin: -25px -25px;
  height: 50px; width: 50px;
  top: 50%; left: 50%; 
  z-index: 999;
  display: block;
  text-align: center;
  vertical-align: middle;
  opacity:0.5;filter:alpha(opacity=50);
}
#downloadProgress{
	position: absolute;
  margin: -25px -25px;
  width: 20%;
  bottom: 30px; right: 40px; 
  z-index: 9999;
  display: none;
  text-align: center;
  vertical-align: middle;
  /*opacity:0.9;filter:alpha(opacity=90);*/
}

#loginResultDiv {
  overflow: auto !important;
  width: 350px;
}
  
#dialogReminder {
  z-index:9999;
  position:absolute; 
  bottom:0; right:0; 
  width:250px; height: 150px;
  background: #FFAAAA;
  visibility:hidden;
  display:none;
  padding: 10px;
  border: 2px solid #909090;
  border-radius: 15px;
}
.displayHtml {
  margin: 1px;
  font-family: Verdana, Arial, Tahoma, sans-serif;
  font-size: 100%;
  padding: 1px;
  background: #fff url(images/validationInputBg.gif) repeat-x top left;
  border: 1px solid #b3b3b3;
  line-height: normal; 
}
/* Specific attributes on common nodes ======================================== */

table {
  border-collapse: collapse; border: 0px; 
}

tr {
  /* border: 1px solid green; padding: 0px !important; margin: 0px !important; /* for debug purpose */
}

td {
  margin: 0; padding: 0; cellspacing: 0; cellpadding: 0;
  border-collapse: collapse; border: 0px;
  /* border: 1px solid yellow; padding: 0px !important; margin: 0px !important;/* for debug purpose */
}

a {
 text-decoration: none;
}
.hyperlink {
 color: #333333;

}
.hyperlink:hover {
  font-weight: bold;
  color: #000000;
}
label, .label {
  font-weight: 400;
  font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
  text-align: right; vertical-align: top;
  width: 150px;
  padding: 1px 1px 0px 0px;
  float:left;
  border: 1px;
}
.largeLabel {
	width: 300px;
}
.smallRadioLabel {
	width:95px;
	font-weight: normal;
}
.dialogLabel {
  color: #707070; 
}
.adminLabel {
	margin-top:3px;
	vertical-align: middle;
}	
.shortlabel {
  width: 87px;
}
.checkLabel {
  font-weight: normal;
  font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
  text-align: left; vertical-align: top;
  padding: 0px 0px 0px 0px;
  float:none;
  border: 0px;
  cursor: pointer;
  }
/* Specific classes =========================================================== */

.title {
    font-size: 12pt; 
    font-weight: bold;
}

.titleProject {
    font-size: 10pt; 
    font-weight: bold;
    vertical-align: middle;
    padding: 5px 2px 0px 0px;
}

.input {
  font-weight: normal;
  color: #000;
  width: 400px;
  margin: 1px; padding: 0px;
  border: 1px solid #b3b3b3;
  line-height: normal;
}

.display {
  background-image: url(images/noimage.png);
  background-repeat: no-repeat;
  font-weight: normal;
  color: #000;
  text-align: left;
  width: 100%;
  margin: 1px; padding: 0px; 
  cursor: default !important;
}
.displayTransparent {
  background-image: url(images/noimage.png);
  background-repeat: no-repeat;
  font-weight: normal;
  color: #000 !important;
  background-color: transparent !important;
  background: none !important;
  border: 0px;
  text-align: right;
  width: 400px;
  margin: 1px; padding: 0px; 
  cursor: default !important;
}

.detail {
  width: 1px;
  height: 1px;
}
 .idleClass {
  background-color: #EEEEEE !important; 
  /*text-decoration: line-through;*/
}
.menuTree {
  background-image: url(images/noimage.png);
  background-repeat: no-repeat;
  font-weight: normal;
  color: #000;
  text-align: left;
  width: 400px;
  margin: 1px; padding: 0px; 
  border: 0px;
  cursor: pointer !important;
}
.menuTree:hover {
  background-color: #DDDDDD !important ;

}

.tabLabel {
  font-weight: bold;
  font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
  text-align: center;
  border: none; padding: 0px; spacing: 0px;
  width: 90px;
}
.smallTabLabel, .smallTabLabelRight {
  font-weight: normal;
  font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
  text-align: left;
  border: none; padding: 0px; spacing: 0px;
  width: 90px;
}
.smallTabLabelRight {
	text-align: right;
}

.messageOK {
  color : green; 
}

.messageERROR {
  color : red;
  font-weight: bold; 
}

.messageNO_CHANGE {
  color : grey; 
}

.colorSelector {
  background-image: url(images/colorSelector.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  text-align: center;
}

.colorDisplay {
  background-image: url(images/noimage.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  text-align: center;
}

.colorHealth {
	width:10px;
	height:10px;
	margin:1px;padding:0;
	-moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #AAAAAA;
}
.checkBox {
  background-image: url(images/checkmark.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-position: 0px;
  margin: 0 2px 0 0;
  padding: 0;
}

.imputationTable {
  padding: 0px; margin: 0px;
  width: 100%; overflow: hidden;
  text-align: left;
  font-weight: normal;
  font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
  vertical-align: top;
  
}

.dijitReset, .dijitRight, .dijitInline, .dijitReset, .dijitInline, .dijitButtonNode, .link {
  cursor: pointer; 
}
.link:hover {
	background-color: #eeeeee;
	text-decoration: underline;
}
.filterField {
  color: #555555;  
}

.selectList {
    border:1px solid #AAAAAA;
    padding:2px 5px 2px 5px; 
    cursor:pointer;
    height:200px; 
    width:400px;
    font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 8pt;
}

.crossTable {
  border: 0px solid black;
}
.crossTableHeader {
 border: 0px solid blue;
 witdh: 100px;
 text-align: center;
}
.crossTableLine {
  border: 0px solid red;
  text-align: right;
  height: 30px;
}
.crossTablePivot {
  border: 0px solid green;
  text-align: center;
}

.section {
  text-align: center;
  font-weight: 200;
  width: 100%;
  height: 18px;
  background: url(images/titleBarDark.png) !important;
  text-shadow: 1px 1px #FEFEFE;
}
.dijitTitlePane .dijitTitlePaneTitle {
	height: 18px;
}

.calendar {
	font-size: 7pt;
	background: #FFFFFF;
	border: 1px solid #AAAAAA;
	text-align: center;
	width: 30px;
	height: 20px;
}
.calendar .offDay {
	background: #DDDDDD;
}

.historyHeader, .noteHeader, .attachmentHeader, .messageHeader, .linkHeader, .assignHeader, 
.dependencyHeader, .workflowHeader, .filterHeader, .calendarHeader {
  border: 1px solid #AAAAAA;
  text-align: center;
  font-weight: 400;
  text-shadow: 1px 1px #FFFFFF;
  background: url(images/titleBar.png) #DDDDDD top repeat-x !important;
  color: #505050;
}
.workflowHeader {
  font-size: 90%;
}
.largeReportHeader {
  border: 1px solid #AAAAAA;
  text-align: center;
  font-weight: bold;
  background: url(images/titleBar.png) #DDDDDD top repeat-x;
  font-size: 80%;
  margin: 0; padding: 0; spacing: 0;
}
.largeReportData {
  border: 1px solid #AAAAAA;
  font-weight: normal;
  background: #FFFFFF;
  font-size: 80%;
  margin: 0; padding: 0; spacing: 0;
  vertical-align: top;
}
.largeReportDataDone {
  border: 1px solid #AAAAAA;
  font-weight: normal;
  background: #E0E0E0;
  color: #505050;
  font-size: 80%;
  margin: 0; padding: 0; spacing: 0;
  vertical-align: top;
}
.reportHeader {
  border: 0px solid #AAAAAA;
  text-align: center;
  font-weight: bold;
  background: url(images/titleBar.png) #DDDDDD top repeat-x;
}
.reportTableHeader {
  border: 1px solid #AAAAAA;
  text-align: center;
  font-weight: bold;
  padding: 3px 5px 3px 5px;
  background: url(images/titleBarDark.png) #DDDDDD top repeat-x;
  color: #FFFFFF;
  text-shadow: 1px 1px #505050;
}
.reportTableColumnHeader {
  border: 1px solid #AAAAAA;
  text-align: center;
  padding: 1px 3px 1px 3px;
  background: url(images/titleBar.png) #DDDDDD top repeat-x;
}
.reportTableLineHeader {
  border: 1px solid #AAAAAA;
  padding: 0px 3px 0px 3px;
  background: url(images/titleBar.png) #DDDDDD top repeat-x;
}
.reportTableData{
  border: 1px solid #AAAAAA;
  vertical-align: middle;
  text-align: center;
  font-weight: normal;
  padding: 0px 1px 0px 1px;
  background: #FFFFFF;
}
.reportTableDataSpanned {
  padding: 3x 5px;	
}
.reportTableDataBorderRight {
  border-right: 1px solid #AAAAAA;
}
  
.reportTableDataLeft {
  border: 1px solid #AAAAAA;
  vertical-align: middle;
  text-align: left;
  font-weight: normal;
  padding: 0px 1px 0px 1px;
  background: #FFFFFF;
}

.reportTableDataFull {
  border: 1px solid #AAAAAA;
  text-align: left;
  vertival-align: middle;
  font-weight: normal;
  padding: 0px 0px 0px 0px;
  background: #FFFFFF;
  width: 20px; height: 20px;
}

.reportTableDataSimple {
  border: 1px solid #AAAAAA;
  vertical-align: middle;
  padding: 0px 1px 0px 1px;
}

.historyData, .noteData, .attachmentData, .messageData, .messageDataValue, .linkData, .assignData, 
.dependencyData, .workflowData, .filterData, .messageDataValueGrey {
  font-size: 90%;
  padding: 1px 5px 1px 5px;
  border: 1px solid #AAAAAA;
  vertical-align: top;
  background-color: #FFFFFF;
}
.messageDataValueGrey {
  background-color: #EEEEEE;
  color: #505050;
}

.workflowData {
  font-size: 80%;
}
.workflowDetail {
  border-top: 1px solid #D0D0D0; 
}

.messageDataValue {
  text-align: center;  
}

.historyDataNewOperation {
  font-size: 90%;
  padding: 1px 5px 1px 5px;
  vertical-align: top;
  border: 1px solid #AAAAAA;
  border-top: 1px solid #AAAAAA;
  border-bottom: 0px solid #FFFFFF;
  border-left: 1px solid #AAAAAA;
  border-right: 1px solid #AAAAAA;
  background-color: #FFFFFF;
}
.historyDataContinueOperation {
  font-size: 90%;
  padding: 1px 5px 1px 5px;
  vertical-align: top;
  border: 1px solid #AAAAAA;
  border-top: 0px solid #FFFFFF;
  border-bottom: 0px solid #FFFFFF;
  border-left: 1px solid #AAAAAA;
  border-right: 1px solid #AAAAAA;
  background-color: #FFFFFF;
}
.historyDataClosetable, .noteDataClosetable , .attachmentDataClosetable, .linkDataCloseTable, .assignDataCloseTable {
  font-size: 1pt;
  padding: 0px 0px 0px 0px;
  border-top: 1px solid #AAAAAA;
  border-bottom: 0px solid #FFFFFF;
  border-left: 0px solid #FFFFFF;
  border-right: 0px solid #FFFFFF;
}
.halfLine {
  font-size: 4pt;
  padding: 0px;
  border-top: 0px;
}

.smallButton {
  height: 12px; width: 12px;
  cursor: pointer !important;
}

.iconPlan {
  background-image: url(images/plan.gif);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}
.iconPlanStopped {
  background-image: url(images/planStopped.gif);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}

.iconHelp {
  background-image: url('images/iconHelp.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  text-align: center;
  cursor: pointer;
}

.gridRowCount, .gridRowCountShadow1, .gridRowCountShadow2 {
  font-weight: bold; 
  font-size: 15pt;
  position:absolute; 
}
.gridRowCount {
  color: #CECECE; 
  left: 8px; top: 4px;
}

.gridRowCountShadow1 {
  color: #FFFFFF; 
  left: 7px; top: 3px;
}
.gridRowCountShadow2 {
  color: #000000; 
  left: 9px; top: 5px;
}

.legend {
 padding: 0px 0px 0px 5px; 
}

.dialogSection {
  text-align:center;
  font-weight: bold;
  background-color: #F0F0F0;
  color: #505050;
}
.ganttTaskgroup:Hover, .ganttTaskrow:hover, .ganttTaskmile:Hover, .ganttRowHover {
  background-color: #ffffaa;
}

.wfUpArrow {
  opacity:0.6;filter:alpha(opacity=60);
  width:7px; height:4px; 
  background: url(images/grid_sort_up.gif) no-repeat;
  position:absolute; left:-4px; top:0px;
}
.wfDownArrow {
  opacity:0.6;filter:alpha(opacity=60);
  width:7px; height:4px; 
  background: url(images/grid_sort_down.gif) no-repeat;
  position:absolute; left:-4px; bottom:0px;
}

.imputationSubmitted {
  font-size:8px;
  background-color: #dAd5e4;
  border: 1px solid grey;
}
.imputationValidated {
  font-size:8px;
  background-color: #dAe5d4;;
  border: 1px solid grey;
}
.imputationInvalidCapacity {
	background-color : #ff7777;
	color : #ff0000;
	font-weight: normal;
}

.parametersButton {
	width:35px; 
	text-align: center;
	float: right;
  icon: selector;
  cursor: pointer;
}



/* =============================================================================== */
/* SPECIFIC BLUE THEME                                                             */
/* =============================================================================== */

.blue html, .blue body, .blue #leftDiv, .blue #logoDiv,
.blue #buttonDiv,
.blue .dijitSplitterH, .blue .dijitGutterH, .blue .dijitSplitterV, .blue .dijitGutterV,
.blue .dijitMenuItemHover,
.blue .dijitMenuPassive .dijitMenuItemHover,
.blue .dijitMenuItemSelected,
.blue .loginBackground    {
  background-color: #545281;
}

.blue #mapDiv, .blue #messageDiv, .blue #listDiv, .blue #detailDiv, .blue #formDiv, .blue .display, .blue .background,
.blue .dijitTitlePaneContentInner, 
.blue #mainDiv,  .blue #contentDiv, .blue #centerDiv {
  background-color: #C3C3EB;
}

.blue #toolBarDiv, .blue #statusBarDiv, .blue .statusBar, .blue .dojoxGridRowSelected, .blue .listTitle,
.blue .section, .blue .dijitTitlePane .dijitTitlePaneTitle, .blue .title {
  background-color: #545281;  color: #EEEEEE;  
}

.blue .tabLabel, .blue .label, .blue .dojoxGridRowOver .dojoxGridCell {
  background-color: #C3C3EB; color: #545281;
}

.blue .display, .blue #printPreview {
  border: 1px solid #C3C3EB;
}

.blue .titleProject {
 color: #C3C3EB;  
}

.blue #mainDiv {
    /*scrollbar-face-color: #C3C3EB;
    scrollbar-shadow-color: #C3C3EB;
    scrollbar-highlight-color: #C3C3EB;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #000000; 
    scrollbar-track-color: #C3C3EB;
    scrollbar-arrow-color: #545281;*/
}

/* =============================================================================== */
/* SPECIFIC RED THEME                                                              */
/* =============================================================================== */

.red html, .red body, .red #leftDiv, .red #logoDiv,
.red #buttonDiv,
.red .dijitSplitterH, .red .dijitGutterH, .red .dijitSplitterV, .red .dijitGutterV,
.red .dijitMenuItemHover,
.red .dijitMenuPassive .dijitMenuItemHover,
.red .dijitMenuItemSelected,
.red .loginBackground    {
  background-color: #9B5353;
}

.red #mapDiv, .red #messageDiv, .red #listDiv, .red #detailDiv, .red #formDiv, .red .display, .red .background,
.red .dijitTitlePaneContentInner,
.red #mainDiv, .red #contentDiv, .red #centerDiv {
  background-color: #EBC3C3;
}

.red #toolBarDiv, .red #statusBarDiv, .red .statusBar, .red .dojoxGridRowSelected, .red .listTitle,
.red .section, .red .dijitTitlePane .dijitTitlePaneTitle, .red .title {
  background-color: #9B5353;  color: #FFFFFF;   
}

.red .tabLabel, .red .label, .red .dojoxGridRowOver .dojoxGridCell {
  background-color: #EBC3C3; color: #9B5353;
}

.red .display, .red #printPreview {
  border: 1px solid #EBC3C3;
}

.red .titleProject {
 color: #EBC3C3;  
}

.red #mainDiv {
    /*scrollbar-face-color: #EBC3C3;
    scrollbar-shadow-color: #EBC3C3;
    scrollbar-highlight-color: #EBC3C3;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #000000; 
    scrollbar-track-color: #EBC3C3;
    scrollbar-arrow-color: #9B5353;*/
}

/* =============================================================================== */
/* SPECIFIC GREEN THEME                                                            */
/* =============================================================================== */
.green html, .green body, .green #leftDiv, .green #logoDiv,
.green #buttonDiv,
.green .dijitSplitterH, .green .dijitGutterH, .green .dijitSplitterV, .green .dijitGutterV,
.green .dijitMenuItemHover,
.green .dijitMenuPassive .dijitMenuItemHover,
.green .dijitMenuItemSelected,
.green .loginBackground    {
  background-color: #539B53;
}

.green #mapDiv, .green #messageDiv, .green #listDiv, .green #detailDiv, .green #formDiv, .green .display, .green .background,
.green .dijitTitlePaneContentInner, 
.green #mainDiv,  .green #contentDiv, .green #centerDiv {
  background-color: #C3EBC3;
}

.green #toolBarDiv, .green #statusBarDiv, .green .statusBar, .green .dojoxGridRowSelected, .green .listTitle,
.green .section, .green .dijitTitlePane .dijitTitlePaneTitle, .green .title {
  background-color: #539B53;  color: #EEEEEE;  
}

.green .tabLabel, .green .label, .green .dojoxGridRowOver .dojoxGridCell {
  background-color: #C3EBC3; color: #539B53;
}

.green .display, .green #printPreview {
  border: 1px solid #C3EBC3;
}

.green .titleProject {
 color: #C3EBC3;  
}

.green #mainDiv {
    /*scrollbar-face-color: #C3EBC3;
    scrollbar-shadow-color: #C3EBC3;
    scrollbar-highlight-color: #C3EBC3;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #000000; 
    scrollbar-track-color: #C3EBC3;
    scrollbar-arrow-color: #539B53;*/
}

/* =============================================================================== */
/* SPECIFIC GREY THEME                                                             */
/* =============================================================================== */

.grey html, .grey body, .grey #leftDiv, .grey #logoDiv,
.grey #buttonDiv,
.grey .dijitSplitterH, .grey .dijitGutterH, .grey .dijitSplitterV, .grey .dijitGutterV,
.grey .dijitMenuItemHover,
.grey .dijitMenuPassive .dijitMenuItemHover,
.grey .dijitMenuItemSelected,
.grey .loginBackground    {
  background-color: #9B9B9B;
}

.grey #mapDiv, .grey #messageDiv, .grey #listDiv, .grey #detailDiv, .grey #formDiv, .grey .display, .grey .background,
.grey .dijitTitlePaneContentInner, 
.grey #mainDiv,  .grey #contentDiv, .grey #centerDiv {
  background-color: #C3C3C3;
}

.grey #toolBarDiv, .grey #statusBarDiv, .grey .statusBar, .grey .dojoxGridRowSelected, .grey .listTitle,
.grey .section, .grey .dijitTitlePane .dijitTitlePaneTitle, .grey .title {
  background-color: #9B9B9B;  color: #FFFFFF;  
}

.grey .tabLabel, .grey .label, .grey .dojoxGridRowOver .dojoxGridCell {
  background-color: #C3C3C3; color: #535353;
}

.grey .display, .grey #printPreview {
  border: 1px solid #C3C3C3;
}

.grey .titleProject {
 color: #C3C3C3;  
}

.grey #mainDiv {
    /*scrollbar-face-color: #C3C3C3;
    scrollbar-shadow-color: #C3C3C3;
    scrollbar-highlight-color: #C3C3C3;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #000000; 
    scrollbar-track-color: #C3C3C3;
    scrollbar-arrow-color: #535353;*/
}

/* =============================================================================== */
/* SPECIFIC ORANGE THEME                                                           */
/* =============================================================================== */

.orange html, .orange body, .orange #leftDiv, .orange #logoDiv,
.orange #buttonDiv,
.orange .dijitSplitterH, .orange .dijitGutterH, .orange .dijitSplitterV, .orange .dijitGutterV,
.orange .dijitMenuItemHover,
.orange .dijitMenuPassive .dijitMenuItemHover,
.orange .dijitMenuItemSelected,
.orange .loginBackground    {
  background-color: #D98F0E;
}

.orange #mapDiv, .orange #messageDiv, .orange #listDiv, .orange #detailDiv, .orange #formDiv, .orange .display, .orange .background,
.orange .dijitTitlePaneContentInner, 
.orange #mainDiv,  .orange #contentDiv, .orange #centerDiv {
  background-color: #F6C672;
}

.orange #toolBarDiv, .orange #statusBarDiv, .orange .statusBar, .orange .dojoxGridRowSelected, .orange .listTitle,
.orange .section, .orange .dijitTitlePane .dijitTitlePaneTitle, .orange .title {
  background-color: #D98F0E;  color: #FFFFFF;  
}

.orange .tabLabel, .orange .label, .orange .dojoxGridRowOver .dojoxGridCell {
  background-color: #F6C672; color: #D98F0E;
}

.orange .display, .orange #printPreview {
  border: 1px solid #F6C672;
}

.orange .titleProject {
 color: #F6C672;  
}

.orange #mainDiv {
    /*scrollbar-face-color: #F6C672;
    scrollbar-shadow-color: #F6C672;
    scrollbar-highlight-color: #F6C672;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #000000; 
    scrollbar-track-color: #F6C672;
    scrollbar-arrow-color: #D98F0E;*/
}

/* =============================================================================== */
/* SPECIFIC WHITE THEME                                                            */
/* =============================================================================== */

.white html, .white body, .white #leftDiv,
.white .dijitSplitterH, .white .dijitGutterH , .white .dijitSplitterV, .white .dijitGutterV,
.white .dijitMenuItemHover, .white #buttonDiv, .white #logoDiv,
.white .dijitMenuPassive .dijitMenuItemHover,
.white .dijitMenuItemSelected,
.white .loginBackground   {
  background-color: #000000;
}

.white #mapDiv, .white #messageDiv, .white #listDiv, .white #detailDiv, .white #formDiv, .white .display, 
.white #mainDiv, .white #contentDiv, .white #centerDiv {
  background-color: #FFFFFF;
}

.white #toolBarDiv, .white #statusBarDiv, .white .statusBar, .white .dojoxGridRowSelected, .white .listTitle,
.white .section, .white .dijitTitlePane .dijitTitlePaneTitle, .white .title {
  background-color: #000000;  color: #FFFFFF;  
}

.white .tabLabel, .white .label,
.white .dijitTitlePaneContentInner  {
  background-color: #FFFFFF; color: #000000;
}

.white .dojoxGridRowOver .dojoxGridCell {
    background-color: #DDDDDD; color: #000000;
}
.white .display, .white #printPreview {
  border: 1px solid #FFFFFF;
}
.white .titleProject {
 color: #FFFFFF;  
}
.white #mainDiv {
    /*scrollbar-face-color: #FFFFFF;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #CCCCCC;
    scrollbar-darkshadow-color: #000000; 
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #000000;*/
}

/* =============================================================================== */
/* SPECIFIC LIGHT BLUE THEME                                                             */
/* =============================================================================== */

.blueLight html, .blueLight body, .blueLight #leftDiv, .blueLight #logoDiv,
.blueLight #buttonDiv,
.blueLight .dijitSplitterH, .blueLight .dijitGutterH, .blueLight .dijitSplitterV, .blueLight .dijitGutterV,
.blueLight .dijitMenuItemHover,
.blueLight .dijitMenuPassive .dijitMenuItemHover,
.blueLight .dijitMenuItemSelected,
.blueLight .loginBackground    {
  background-color: #C3C3EB;
}

.blueLight #mapDiv, .blueLight #messageDiv, .blueLight #listDiv, .blueLight #detailDiv, .blueLight #formDiv, .blueLight .display, .blueLight .background,
.blueLight .dijitTitlePaneContentInner, 
.blueLight #mainDiv,  .blueLight #contentDiv, .blueLight #centerDiv {
  background-color: #EEEEFF;
}

.blueLight #toolBarDiv, .blueLight #statusBarDiv, .blueLight .statusBar, .blueLight .dojoxGridRowSelected, .blueLight .listTitle,
.blueLight .section, .blueLight .dijitTitlePane .dijitTitlePaneTitle, .blueLight .title  {
  background-color: #C3C3EB;  color: #545281;  
}

.blueLight .tabLabel, .blueLight .label, .blueLight .dojoxGridRowOver .dojoxGridCell {
  background-color: #EEEEFF; color: #545281;
}

.blueLight .display, .blueLight #printPreview {
  border: 1px solid #EEEEFF;
}

.blueLight .titleProject {
 color: #EEEEFF;  
}
.blueLight #mainDiv {
    /*scrollbar-face-color: #EEEEFF;
    scrollbar-shadow-color: #EEEEFF;
    scrollbar-highlight-color: #EEEEFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #000000; 
    scrollbar-track-color: #EEEEFF;
    scrollbar-arrow-color: #C3C3EB;*/
}

/* =============================================================================== */
/* SPECIFIC CONTRASTED BLUE THEME                                                             */
/* =============================================================================== */

.blueContrast html, .blueContrast body, .blueContrast #leftDiv, .blueContrast #logoDiv,
.blueContrast #buttonDiv,
.blueContrast .dijitSplitterH, .blueContrast .dijitGutterH, .blueContrast .dijitSplitterV, .blueContrast .dijitGutterV,
.blueContrast .dijitMenuItemHover,
.blueContrast .dijitMenuPassive .dijitMenuItemHover,
.blueContrast .dijitMenuItemSelected,
.blueContrast .loginBackground    {
  background-color: #545281;
}

.blueContrast #mapDiv, .blueContrast #messageDiv, .blueContrast #listDiv, .blueContrast #detailDiv, .blueContrast #formDiv, .blueContrast .display, .blueContrast .background,
.blueContrast .dijitTitlePaneContentInner, 
.blueContrast #mainDiv,  .blueContrast #contentDiv, .blueContrast #centerDiv {
  background-color: #FFFFFF;
}

.blueContrast #toolBarDiv, .blueContrast #statusBarDiv, .blueContrast .statusBar, .blueContrast .dojoxGridRowSelected, .blueContrast .listTitle,
.blueContrast .section, .blueContrast .dijitTitlePane .dijitTitlePaneTitle, .blueContrast .title  {
  background-color: #545281;  color: #FFFFFF;  
}

.blueContrast .tabLabel, .blueContrast .label, .blueContrast .dojoxGridRowOver .dojoxGridCell {
  background-color: #FFFFFF; color: #545281;
}
.blueContrast .dojoxGridRowOver .dojoxGridCell {
  background-color: #C3C3EB; color: #545281;
}

.blueContrast .display, .blueContrast #printPreview {
  border: 1px solid #FFFFFF;
}

.blueContrast .titleProject {
 color: #FFFFFF;  
}
.blueContrast #mainDiv {
    /*scrollbar-face-color: #EEEEFF;
    scrollbar-shadow-color: #EEEEFF;
    scrollbar-highcontrasted-color: #EEEEFF;
    scrollbar-3dcontrasted-color: #FFFFFF;
    scrollbar-darkshadow-color: #000000; 
    scrollbar-track-color: #EEEEFF;
    scrollbar-arrow-color: #C3C3EB;*/
}

/* =============================================================================== */
/* SPECIFIC LIGHT RED THEME                                                              */
/* =============================================================================== */

.redLight html, .redLight body, .redLight #leftDiv, .redLight #logoDiv,
.redLight #buttonDiv,
.redLight .dijitSplitterH, .redLight .dijitGutterH, .redLight .dijitSplitterV, .redLight .dijitGutterV,
.redLight .dijitMenuItemHover,
.redLight .dijitMenuPassive .dijitMenuItemHover,
.redLight .dijitMenuItemSelected,
.redLight .loginBackground    {
  background-color: #EBC3C3;
}

.redLight #mapDiv, .redLight #messageDiv, .redLight #listDiv, .redLight #detailDiv, .redLight #formDiv, .redLight .display, .redLight .background,
.redLight .dijitTitlePaneContentInner,
.redLight #mainDiv, .redLight #contentDiv, .redLight #centerDiv {
  background-color: #FFEEEE;
}

.redLight #toolBarDiv, .redLight #statusBarDiv, .redLight .statusBar, .redLight .dojoxGridRowSelected, .redLight .listTitle,
.redLight .section, .redLight .dijitTitlePane .dijitTitlePaneTitle, .redLight .title {
  background-color: #EBC3C3;  color: #9B5353;   
}

.redLight .tabLabel, .redLight .label, .redLight .dojoxGridRowOver .dojoxGridCell {
  background-color: #FFEEEE; color: #9B5353;
}

.redLight .display, .redLight #printPreview {
  border: 1px solid #FFEEEE;
}

.redLight .titleProject {
 color: #FFEEEE;  
}

.redLight #mainDiv {
    /*scrollbar-face-color: #FFEEEE;
    scrollbar-shadow-color: #FFEEEE;
    scrollbar-highlight-color: #FFEEEE;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #000000; 
    scrollbar-track-color: #FFEEEE;
    scrollbar-arrow-color: #EBC3C3;*/
}

/* =============================================================================== */
/* SPECIFIC CONTRASTED RED THEME                                                              */
/* =============================================================================== */

.redContrast html, .redContrast body, .redContrast #leftDiv, .redContrast #logoDiv,
.redContrast #buttonDiv,
.redContrast .dijitSplitterH, .redContrast .dijitGutterH, .redContrast .dijitSplitterV, .redContrast .dijitGutterV,
.redContrast .dijitMenuItemHover,
.redContrast .dijitMenuPassive .dijitMenuItemHover,
.redContrast .dijitMenuItemSelected ,
.redContrast .loginBackground   {
  background-color: #9B5353;
}

.redContrast #mapDiv, .redContrast #messageDiv, .redContrast #listDiv, .redContrast #detailDiv, .redContrast #formDiv, .redContrast .display, .redContrast .background,
.redContrast .dijitTitlePaneContentInner, 
.redContrast #mainDiv,  .redContrast #contentDiv, .redContrast #centerDiv {
  background-color: #FFFFFF;
}

.redContrast #toolBarDiv, .redContrast #statusBarDiv, .redContrast .statusBar, .redContrast .dojoxGridRowSelected, .redContrast .listTitle,
.redContrast .section, .redContrast .dijitTitlePane .dijitTitlePaneTitle, .redContrast .title  {
  background-color: #9B5353;  color: #FFFFFF;  
}

.redContrast .tabLabel, .redContrast .label, .redContrast .dojoxGridRowOver .dojoxGridCell {
  background-color: #FFFFFF; color: #9B5353;
}
.redContrast .dojoxGridRowOver .dojoxGridCell {
  background-color: #EBC3C3; color: #9B5353;
}

.redContrast .display, .redContrast #printPreview {
  border: 1px solid #FFFFFF;
}

.redContrast .titleProject {
 color: #FFFFFF;  
}
.redContrast #mainDiv {
    /*scrollbar-face-color: #FFEEEE;
    scrollbar-shadow-color: #FFEEEE;
    scrollbar-highcontrasted-color: #FFEEEE;
    scrollbar-3dcontrasted-color: #FFFFFF;
    scrollbar-darkshadow-color: #000000; 
    scrollbar-track-color: #FFEEEE;
    scrollbar-arrow-color: #EBC3C3;*/
}

/* =============================================================================== */
/* SPECIFIC LIGHT green THEME                                                             */
/* =============================================================================== */

.greenLight html, .greenLight body, .greenLight #leftDiv, .greenLight #logoDiv,
.greenLight #buttonDiv,
.greenLight .dijitSplitterH, .greenLight .dijitGutterH, .greenLight .dijitSplitterV, .greenLight .dijitGutterV,
.greenLight .dijitMenuItemHover,
.greenLight .dijitMenuPassive .dijitMenuItemHover,
.greenLight .dijitMenuItemSelected,
.greenLight .loginBackground    {
  background-color: #C3EBC3;
}

.greenLight #mapDiv, .greenLight #messageDiv, .greenLight #listDiv, .greenLight #detailDiv, .greenLight #formDiv, .greenLight .display, .greenLight .background,
.greenLight .dijitTitlePaneContentInner, 
.greenLight #mainDiv,  .greenLight #contentDiv, .greenLight #centerDiv {
  background-color: #EEFFEE;
}

.greenLight #toolBarDiv, .greenLight #statusBarDiv, .greenLight .statusBar, .greenLight .dojoxGridRowSelected, .greenLight .listTitle,
.greenLight .section, .greenLight .dijitTitlePane .dijitTitlePaneTitle, .greenLight .title  {
  background-color: #C3EBC3;  color: #539B53;  
}

.greenLight .tabLabel, .greenLight .label, .greenLight .dojoxGridRowOver .dojoxGridCell {
  background-color: #EEFFEE; color: #539B53;
}

.greenLight .display, .greenLight #printPreview {
  border: 1px solid #EEFFEE;
}

.greenLight .titleProject {
 color: #EEFFEE;  
}
.greenLight #mainDiv {
    /*scrollbar-face-color: #EEFFEE;
    scrollbar-shadow-color: #EEFFEE;
    scrollbar-highlight-color: #EEFFEE;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #000000; 
    scrollbar-track-color: #EEFFEE;
    scrollbar-arrow-color: #C3EBC3;*/
}

/* =============================================================================== */
/* SPECIFIC CONTRASTED green THEME                                                             */
/* =============================================================================== */

.greenContrast html, .greenContrast body, .greenContrast #leftDiv, .greenContrast #logoDiv,
.greenContrast #buttonDiv,
.greenContrast .dijitSplitterH, .greenContrast .dijitGutterH, .greenContrast .dijitSplitterV, .greenContrast .dijitGutterV,
.greenContrast .dijitMenuItemHover,
.greenContrast .dijitMenuPassive .dijitMenuItemHover,
.greenContrast .dijitMenuItemSelected,
.greenContrast .loginBackground    {
  background-color: #539B53;
}

.greenContrast #mapDiv, .greenContrast #messageDiv, .greenContrast #listDiv, .greenContrast #detailDiv, .greenContrast #formDiv, .greenContrast .display, .greenContrast .background,
.greenContrast .dijitTitlePaneContentInner, 
.greenContrast #mainDiv,  .greenContrast #contentDiv, .greenContrast #centerDiv {
  background-color: #FFFFFF;
}

.greenContrast #toolBarDiv, .greenContrast #statusBarDiv, .greenContrast .statusBar, .greenContrast .dojoxGridRowSelected, .greenContrast .listTitle,
.greenContrast .section, .greenContrast .dijitTitlePane .dijitTitlePaneTitle, .greenContrast .title  {
  background-color: #539B53;  color: #FFFFFF;  
}

.greenContrast .tabLabel, .greenContrast .label, .greenContrast .dojoxGridRowOver .dojoxGridCell {
  background-color: #FFFFFF; color: #539B53;
}
.greenContrast .dojoxGridRowOver .dojoxGridCell {
  background-color: #C3EBC3; color: #539B53;
}

.greenContrast .display, .greenContrast #printPreview {
  border: 1px solid #FFFFFF;
}

.greenContrast .titleProject {
 color: #FFFFFF;  
}
.greenContrast #mainDiv {
    /*scrollbar-face-color: #EEFFEE;
    scrollbar-shadow-color: #EEFFEE;
    scrollbar-highcontrasted-color: #EEFFEE;
    scrollbar-3dcontrasted-color: #FFFFFF;
    scrollbar-darkshadow-color: #000000; 
    scrollbar-track-color: #EEFFEE;
    scrollbar-arrow-color: #C3EBC3;*/
}

/* =============================================================================== */
/* SPECIFIC LIGHT orange THEME                                                             */
/* =============================================================================== */

.orangeLight html, .orangeLight body, .orangeLight #leftDiv, .orangeLight #logoDiv,
.orangeLight #buttonDiv,
.orangeLight .dijitSplitterH, .orangeLight .dijitGutterH, .orangeLight .dijitSplitterV, .orangeLight .dijitGutterV,
.orangeLight .dijitMenuItemHover,
.orangeLight .dijitMenuPassive .dijitMenuItemHover,
.orangeLight .dijitMenuItemSelected  ,
.orangeLight .loginBackground  {
  background-color: #F6C672;
}

.orangeLight #mapDiv, .orangeLight #messageDiv, .orangeLight #listDiv, .orangeLight #detailDiv, .orangeLight #formDiv, .orangeLight .display, .orangeLight .background,
.orangeLight .dijitTitlePaneContentInner, 
.orangeLight #mainDiv,  .orangeLight #contentDiv, .orangeLight #centerDiv {
  background-color: #FFFFDD;
}

.orangeLight #toolBarDiv, .orangeLight #statusBarDiv, .orangeLight .statusBar, .orangeLight .dojoxGridRowSelected, .orangeLight .listTitle,
.orangeLight .section, .orangeLight .dijitTitlePane .dijitTitlePaneTitle, .orangeLight .title  {
  background-color: #F6C672;  color: #D98F0E;  
}

.orangeLight .tabLabel, .orangeLight .label, .orangeLight .dojoxGridRowOver .dojoxGridCell {
  background-color: #FFFFDD; color: #D98F0E;
}

.orangeLight .display, .orangeLight #printPreview {
  border: 1px solid #FFFFDD;
}

.orangeLight .titleProject {
 color: #FFFFDD;  
}
.orangeLight #mainDiv {
    /*scrollbar-face-color: #FFFFDD;
    scrollbar-shadow-color: #FFFFDD;
    scrollbar-highlight-color: #FFFFDD;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #000000; 
    scrollbar-track-color: #FFFFDD;
    scrollbar-arrow-color: #F6C672;*/
}

/* =============================================================================== */
/* SPECIFIC CONTRASTED orange THEME                                                             */
/* =============================================================================== */

.orangeContrast html, .orangeContrast body, .orangeContrast #leftDiv, .orangeContrast #logoDiv,
.orangeContrast #buttonDiv,
.orangeContrast .dijitSplitterH, .orangeContrast .dijitGutterH, .orangeContrast .dijitSplitterV, .orangeContrast .dijitGutterV,
.orangeContrast .dijitMenuItemHover,
.orangeContrast .dijitMenuPassive .dijitMenuItemHover,
.orangeContrast .dijitMenuItemSelected ,
.orangeContrast .loginBackground   {
  background-color: #D98F0E;
}

.orangeContrast #mapDiv, .orangeContrast #messageDiv, .orangeContrast #listDiv, .orangeContrast #detailDiv, .orangeContrast #formDiv, .orangeContrast .display, .orangeContrast .background,
.orangeContrast .dijitTitlePaneContentInner, 
.orangeContrast #mainDiv,  .orangeContrast #contentDiv, .orangeContrast #centerDiv {
  background-color: #FFFFFF;
}

.orangeContrast #toolBarDiv, .orangeContrast #statusBarDiv, .orangeContrast .statusBar, .orangeContrast .dojoxGridRowSelected, .orangeContrast .listTitle,
.orangeContrast .section, .orangeContrast .dijitTitlePane .dijitTitlePaneTitle, .orangeContrast .title  {
  background-color: #D98F0E;  color: #FFFFFF;  
}

.orangeContrast .tabLabel, .orangeContrast .label, .orangeContrast .dojoxGridRowOver .dojoxGridCell {
  background-color: #FFFFFF; color: #D98F0E;
}
.orangeContrast .dojoxGridRowOver .dojoxGridCell {
  background-color: #F6C672; color: #D98F0E;
}

.orangeContrast .display, .orangeContrast #printPreview {
  border: 1px solid #FFFFFF;
}

.orangeContrast .titleProject {
 color: #FFFFFF;  
}
.orangeContrast #mainDiv {
    /*scrollbar-face-color: #FFFFDD;
    scrollbar-shadow-color: #FFFFDD;
    scrollbar-highcontrasted-color: #FFFFDD;
    scrollbar-3dcontrasted-color: #FFFFFF;
    scrollbar-darkshadow-color: #000000; 
    scrollbar-track-color: #FFFFDD;
    scrollbar-arrow-color: #F6C672;*/
}

/* =============================================================================== */
/* SPECIFIC LIGHT grey THEME                                                              */
/* =============================================================================== */

.greyLight html, .greyLight body, .greyLight #leftDiv, .greyLight #logoDiv,
.greyLight #buttonDiv,
.greyLight .dijitSplitterH, .greyLight .dijitGutterH, .greyLight .dijitSplitterV, .greyLight .dijitGutterV,
.greyLight .dijitMenuItemHover,
.greyLight .dijitMenuPassive .dijitMenuItemHover,
.greyLight .dijitMenuItemSelected ,
.greyLight .loginBackground   {
  background-color: #C3C3C3;
}

.greyLight #mapDiv, .greyLight #messageDiv, .greyLight #listDiv, .greyLight #detailDiv, .greyLight #formDiv, .greyLight .display, .greyLight .background,
.greyLight .dijitTitlePaneContentInner,
.greyLight #mainDiv, .greyLight #contentDiv, .greyLight #centerDiv {
  background-color: #F0F0F0;
}

.greyLight #toolBarDiv, .greyLight #statusBarDiv, .greyLight .statusBar, .greyLight .dojoxGridRowSelected, .greyLight .listTitle,
.greyLight .section, .greyLight .dijitTitlePane .dijitTitlePaneTitle, .greyLight .title {
  background-color: #C3C3C3;  color: #9B9B9B;   
}

.greyLight .tabLabel, .greyLight .label, .greyLight .dojoxGridRowOver .dojoxGridCell {
  background-color: #F0F0F0; color: #9B9B9B;
}

.greyLight .display, .greyLight #printPreview {
  border: 1px solid #F0F0F0;
}

.greyLight .titleProject {
 color: #F0F0F0;  
}

.greyLight #mainDiv {
    /*scrollbar-face-color: #F0F0F0;
    scrollbar-shadow-color: #F0F0F0;
    scrollbar-highlight-color: #F0F0F0;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #000000; 
    scrollbar-track-color: #F0F0F0;
    scrollbar-arrow-color: #C3C3C3;*/
}

/* =============================================================================== */
/* SPECIFIC CONTRASTED grey THEME                                                             */
/* =============================================================================== */

.greyContrast html, .greyContrast body, .greyContrast #leftDiv, .greyContrast #logoDiv,
.greyContrast #buttonDiv,
.greyContrast .dijitSplitterH, .greyContrast .dijitGutterH, .greyContrast .dijitSplitterV, .greyContrast .dijitGutterV,
.greyContrast .dijitMenuItemHover,
.greyContrast .dijitMenuPassive .dijitMenuItemHover,
.greyContrast .dijitMenuItemSelected ,
.greyContrast .loginBackground   {
  background-color: #9B9B9B;
}

.greyContrast #mapDiv, .greyContrast #messageDiv, .greyContrast #listDiv, .greyContrast #detailDiv, .greyContrast #formDiv, .greyContrast .display, .greyContrast .background,
.greyContrast .dijitTitlePaneContentInner, 
.greyContrast #mainDiv,  .greyContrast #contentDiv, .greyContrast #centerDiv {
  background-color: #FFFFFF;
}

.greyContrast #toolBarDiv, .greyContrast #statusBarDiv, .greyContrast .statusBar, .greyContrast .dojoxGridRowSelected, .greyContrast .listTitle,
.greyContrast .section, .greyContrast .dijitTitlePane .dijitTitlePaneTitle, .greyContrast .title  {
  background-color: #9B9B9B;  color: #FFFFFF;  
}

.greyContrast .tabLabel, .greyContrast .label, .greyContrast .dojoxGridRowOver .dojoxGridCell {
  background-color: #FFFFFF; color: #9B9B9B;
}
.greyContrast .dojoxGridRowOver .dojoxGridCell {
  background-color: #C3C3C3; color: #9B9B9B;
}

.greyContrast .display, .greyContrast #printPreview {
  border: 1px solid #FFFFFF;
}

.greyContrast .titleProject {
 color: #FFFFFF;  
}
.greyContrast #mainDiv {
    /*scrollbar-face-color: #F0F0F0;
    scrollbar-shadow-color: #F0F0F0;
    scrollbar-highcontrasted-color: #F0F0F0;
    scrollbar-3dcontrasted-color: #FFFFFF;
    scrollbar-darkshadow-color: #000000; 
    scrollbar-track-color: #F0F0F0;
    scrollbar-arrow-color: #C3C3C3;*/
}

/* =============================================================================== */
/* SPECIFIC ProjeQtOr Default (OCEAN) THEME                                                             */
/* =============================================================================== */

.ProjeQtOr html, .ProjeQtOr body, .ProjeQtOr #leftDiv, .ProjeQtOr #logoDiv,
.ProjeQtOr .dijitSplitterH, .ProjeQtOr .dijitGutterH, .ProjeQtOr .dijitSplitterV, .ProjeQtOr .dijitGutterV,
.ProjeQtOr .loginBackground {
  background-color: #545281; 
  /* background-color: #d4d5da; */
}

.ProjeQtOr .dijitMenuItemHover,
.ProjeQtOr .dijitMenuPassive .dijitMenuItemHover,
.ProjeQtOr .dijitMenuItemSelected  {
  background-color: #545281;  color: #EEEEEE; 
	/* background-color: #d4d5da; color: #545281; */  
}

.ProjeQtOr #mapDiv, .ProjeQtOr #messageDiv, .ProjeQtOr #listDiv, .ProjeQtOr #formDiv, .ProjeQtOr .display, .ProjeQtOr .background,
.ProjeQtOr .dijitTitlePaneContentInner, 
.ProjeQtOr #mainDiv, .ProjeQtOr #centerDiv {
  background-color: #fafafa;
}
.ProjeQtOr #toolBarDiv, .ProjeQtOr #statusBarDiv, .ProjeQtOr .statusBar { /**toolbar**/
   color: #EEEEEE;
   background: url(images/titleBarDarkBlue.png) #545281 top repeat-x !important;
}
.ProjeQtOr .tabLabel, .ProjeQtOr .label {
  background-color: #fafafa; color: #545281;
}
.ProjeQtOr .dojoxGridRowOver .dojoxGridCell {
 background: url(images/titleBar.png) #dedede top repeat-x !important;
 color: #545281 !important;
} 

.ProjeQtOr #buttonDiv { /**toolbar**/
  background-color: #545281;  color: #FFFFFF;  
}

.ProjeQtOr .title {
  font-weight: 600;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000;
}
.ProjeQtOr .listTitle {
  /* background-color: #545281;  color: #EEEEEE; */  
  background-color: #545281;  
  color: #FFFFFF;
}
.ProjeQtOr .dojoxGridRowSelected { /**selected lines**/
  background-color: #545281;  color: #EEEEEE; 
}
.ProjeQtOr .display, .ProjeQtOr #printPreview {
  border: 1px solid #fafafa;
}

.ProjeQtOr .titleProject {
 color: #EEEEEE;
 text-shadow: 2px 2px 4px #000000;
   
}

.ProjeQtOr #logoDiv,.ProjeQtOr .listTitle,
.ProjeQtOr .dijitTitlePane .dijitTitlePaneTitle,
.ProjeQtOr .dojoxGridRowSelected, .ProjeQtOr #buttonDiv	 {
  background: url(images/titleBarDarkBlue.png) #545281 top repeat-x !important;
}

/* =============================================================================== */
/* SPECIFIC ProjeQtOr Fire THEME                                                             */
/* =============================================================================== */

.ProjeQtOrFire html, .ProjeQtOrFire body, .ProjeQtOrFire #leftDiv, .ProjeQtOrFire #logoDiv,
.ProjeQtOrFire .dijitSplitterH, .ProjeQtOrFire .dijitGutterH, .ProjeQtOrFire .dijitSplitterV, .ProjeQtOrFire .dijitGutterV,
.ProjeQtOrFire .loginBackground {
  background-color: #6f2525; 
}

.ProjeQtOrFire .dijitMenuItemHover,
.ProjeQtOrFire .dijitMenuPassive .dijitMenuItemHover,
.ProjeQtOrFire .dijitMenuItemSelected  {
  background-color: #6f2525;  color: #EEEEEE; 
}

.ProjeQtOrFire #mapDiv, .ProjeQtOrFire #messageDiv, .ProjeQtOrFire #listDiv, .ProjeQtOrFire #formDiv, .ProjeQtOrFire .display, .ProjeQtOrFire .background,
.ProjeQtOrFire .dijitTitlePaneContentInner, 
.ProjeQtOrFire #mainDiv, .ProjeQtOrFire #centerDiv {
  background-color: #fafafa;
}
.ProjeQtOrFire #toolBarDiv, .ProjeQtOrFire #statusBarDiv, .ProjeQtOrFire .statusBar { /**toolbar**/
   color: #EEEEEE;
   background: url(images/titleBarDarkRed.png) #6f2525 top repeat-x !important;
}
.ProjeQtOrFire .tabLabel, .ProjeQtOrFire .label {
  background-color: #fafafa; color: #6f2525;
}
.ProjeQtOrFire .dojoxGridRowOver .dojoxGridCell {
 background: url(images/titleBar.png) #dedede top repeat-x !important;
 color: #6f2525 !important;
} 

.ProjeQtOrFire #buttonDiv { /**toolbar**/
  background-color: #6f2525;  color: #FFFFFF;  
}

.ProjeQtOrFire .title {
  font-weight: 600;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000;
}
.ProjeQtOrFire .listTitle {
  background-color: #6f2525;  
  color: #FFFFFF;
}
.ProjeQtOrFire .dojoxGridRowSelected { /**selected lines**/
  background-color: #6f2525;  color: #EEEEEE;   
}
.ProjeQtOrFire .display, .ProjeQtOrFire #printPreview {
  border: 1px solid #fafafa;
}

.ProjeQtOrFire .titleProject {
 color: #EEEEEE;
 text-shadow: 2px 2px 4px #000000;
   
}

.ProjeQtOrFire #logoDiv,.ProjeQtOrFire .listTitle,
.ProjeQtOrFire .dijitTitlePane .dijitTitlePaneTitle,
.ProjeQtOrFire .dojoxGridRowSelected, .ProjeQtOrFire #buttonDiv  {
  background: url(images/titleBarDarkRed.png) #6f2525 top repeat-x !important;
}

/* =============================================================================== */
/* SPECIFIC ProjeQtOr Forest THEME                                                             */
/* =============================================================================== */

.ProjeQtOrForest html, .ProjeQtOrForest body, .ProjeQtOrForest #leftDiv, .ProjeQtOrForest #logoDiv,
.ProjeQtOrForest .dijitSplitterH, .ProjeQtOrForest .dijitGutterH, .ProjeQtOrForest .dijitSplitterV, .ProjeQtOrForest .dijitGutterV,
.ProjeQtOrForest .loginBackground {
  background-color: #194C25; 
}

.ProjeQtOrForest .dijitMenuItemHover,
.ProjeQtOrForest .dijitMenuPassive .dijitMenuItemHover,
.ProjeQtOrForest .dijitMenuItemSelected  {
  background-color: #194C25;  color: #EEEEEE; 
}

.ProjeQtOrForest #mapDiv, .ProjeQtOrForest #messageDiv, .ProjeQtOrForest #listDiv, .ProjeQtOrForest #formDiv, .ProjeQtOrForest .display, .ProjeQtOrForest .background,
.ProjeQtOrForest .dijitTitlePaneContentInner, 
.ProjeQtOrForest #mainDiv, .ProjeQtOrForest #centerDiv {
  background-color: #fafafa;
}
.ProjeQtOrForest #toolBarDiv, .ProjeQtOrForest #statusBarDiv, .ProjeQtOrForest .statusBar { /**toolbar**/
   color: #EEEEEE;
   background: url(images/titleBarDarkGreen.png) #194C25 top repeat-x !important;
}
.ProjeQtOrForest .tabLabel, .ProjeQtOrForest .label {
  background-color: #fafafa; color: #194C25;
}
.ProjeQtOrForest .dojoxGridRowOver .dojoxGridCell {
 background: url(images/titleBar.png) #dedede top repeat-x !important;
 color: #194C25 !important;
} 

.ProjeQtOrForest #buttonDiv { /**toolbar**/
  background-color: #194C25;  color: #FFFFFF;  
}

.ProjeQtOrForest .title {
  font-weight: 600;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000;
}
.ProjeQtOrForest .listTitle {
  background-color: #194C25;  
  color: #FFFFFF;
}
.ProjeQtOrForest .dojoxGridRowSelected { /**selected lines**/
  background-color: #194C25;  color: #EEEEEE;   
}
.ProjeQtOrForest .display, .ProjeQtOrForest #printPreview {
  border: 1px solid #fafafa;
}

.ProjeQtOrForest .titleProject {
 color: #EEEEEE;
 text-shadow: 2px 2px 4px #000000;
   
}

.ProjeQtOrForest #logoDiv,.ProjeQtOrForest .listTitle,
.ProjeQtOrForest .dijitTitlePane .dijitTitlePaneTitle,
.ProjeQtOrForest .dojoxGridRowSelected, .ProjeQtOrForest #buttonDiv  {
  background: url(images/titleBarDarkGreen.png) #194C25 top repeat-x !important;
}

/* =============================================================================== */
/* SPECIFIC ProjeQtOr Earth THEME                                                             */
/* =============================================================================== */

.ProjeQtOrEarth html, .ProjeQtOrEarth body, .ProjeQtOrEarth #leftDiv, .ProjeQtOrEarth #logoDiv,
.ProjeQtOrEarth .dijitSplitterH, .ProjeQtOrEarth .dijitGutterH, .ProjeQtOrEarth .dijitSplitterV, .ProjeQtOrEarth .dijitGutterV,
.ProjeQtOrEarth .loginBackground {
  background-color: #50371A; 
}

.ProjeQtOrEarth .dijitMenuItemHover,
.ProjeQtOrEarth .dijitMenuPassive .dijitMenuItemHover,
.ProjeQtOrEarth .dijitMenuItemSelected  {
  background-color: #50371A;  color: #EEEEEE; 
}

.ProjeQtOrEarth #mapDiv, .ProjeQtOrEarth #messageDiv, .ProjeQtOrEarth #listDiv, .ProjeQtOrEarth #formDiv, .ProjeQtOrEarth .display, .ProjeQtOrEarth .background,
.ProjeQtOrEarth .dijitTitlePaneContentInner, 
.ProjeQtOrEarth #mainDiv, .ProjeQtOrEarth #centerDiv {
  background-color: #fafafa;
}
.ProjeQtOrEarth #toolBarDiv, .ProjeQtOrEarth #statusBarDiv, .ProjeQtOrEarth .statusBar { /**toolbar**/
   color: #EEEEEE;
   background: url(images/titleBarDarkBrown.png) #50371A top repeat-x !important;
}
.ProjeQtOrEarth .tabLabel, .ProjeQtOrEarth .label {
  background-color: #fafafa; color: #50371A;
}
.ProjeQtOrEarth .dojoxGridRowOver .dojoxGridCell {
 background: url(images/titleBar.png) #dedede top repeat-x !important;
 color: #50371A !important;
} 

.ProjeQtOrEarth #buttonDiv { /**toolbar**/
  background-color: #50371A;  color: #FFFFFF;  
}

.ProjeQtOrEarth .title {
  font-weight: 600;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000;
}
.ProjeQtOrEarth .listTitle {
  background-color: #50371A;  
  color: #FFFFFF;
}
.ProjeQtOrEarth .dojoxGridRowSelected { /**selected lines**/
  background-color: #50371A;  color: #EEEEEE;   
}
.ProjeQtOrEarth .display, .ProjeQtOrEarth #printPreview {
  border: 1px solid #fafafa;
}

.ProjeQtOrEarth .titleProject {
 color: #EEEEEE;
 text-shadow: 2px 2px 4px #000000;
   
}

.ProjeQtOrEarth #logoDiv,.ProjeQtOrEarth .listTitle,
.ProjeQtOrEarth .dijitTitlePane .dijitTitlePaneTitle,
.ProjeQtOrEarth .dojoxGridRowSelected, .ProjeQtOrEarth #buttonDiv  {
  background: url(images/titleBarDarkBrown.png) #50371A top repeat-x !important;
}

/* =============================================================================== */
/* SPECIFIC ProjeQtOr Water THEME                                                             */
/* =============================================================================== */

.ProjeQtOrWater html, .ProjeQtOrWater body, .ProjeQtOrWater #leftDiv, .ProjeQtOrWater #logoDiv,
.ProjeQtOrWater .dijitSplitterH, .ProjeQtOrWater .dijitGutterH, .ProjeQtOrWater .dijitSplitterV, .ProjeQtOrWater .dijitGutterV,
.ProjeQtOrWater .loginBackground {
  background-color: #194C4C; 
}

.ProjeQtOrWater .dijitMenuItemHover,
.ProjeQtOrWater .dijitMenuPassive .dijitMenuItemHover,
.ProjeQtOrWater .dijitMenuItemSelected  {
  background-color: #194C4C;  color: #EEEEEE; 
}

.ProjeQtOrWater #mapDiv, .ProjeQtOrWater #messageDiv, .ProjeQtOrWater #listDiv, .ProjeQtOrWater #formDiv, .ProjeQtOrWater .display, .ProjeQtOrWater .background,
.ProjeQtOrWater .dijitTitlePaneContentInner, 
.ProjeQtOrWater #mainDiv, .ProjeQtOrWater #centerDiv {
  background-color: #fafafa;
}
.ProjeQtOrWater #toolBarDiv, .ProjeQtOrWater #statusBarDiv, .ProjeQtOrWater .statusBar { /**toolbar**/
   color: #EEEEEE;
   background: url(images/titleBarDarkWater.png) #194C4C top repeat-x !important;
}
.ProjeQtOrWater .tabLabel, .ProjeQtOrWater .label {
  background-color: #fafafa; color: #194C4C;
}
.ProjeQtOrWater .dojoxGridRowOver .dojoxGridCell {
 background: url(images/titleBar.png) #dedede top repeat-x !important;
 color: #194C4C !important;
} 

.ProjeQtOrWater #buttonDiv { /**toolbar**/
  background-color: #194C4C;  color: #FFFFFF;  
}

.ProjeQtOrWater .title {
  font-weight: 600;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000;
}
.ProjeQtOrWater .listTitle {
  background-color: #194C4C;  
  color: #FFFFFF;
}
.ProjeQtOrWater .dojoxGridRowSelected { /**selected lines**/
  background-color: #194C4C;  color: #EEEEEE;   
}
.ProjeQtOrWater .display, .ProjeQtOrWater #printPreview {
  border: 1px solid #fafafa;
}

.ProjeQtOrWater .titleProject {
 color: #EEEEEE;
 text-shadow: 2px 2px 4px #000000;
   
}

.ProjeQtOrWater #logoDiv,.ProjeQtOrWater .listTitle,
.ProjeQtOrWater .dijitTitlePane .dijitTitlePaneTitle,
.ProjeQtOrWater .dojoxGridRowSelected, .ProjeQtOrWater #buttonDiv  {
  background: url(images/titleBarDarkWater.png) #194C4C top repeat-x !important;
}

/* =============================================================================== */
/* SPECIFIC ProjeQtOr Wine THEME                                                             */
/* =============================================================================== */

.ProjeQtOrWine html, .ProjeQtOrWine body, .ProjeQtOrWine #leftDiv, .ProjeQtOrWine #logoDiv,
.ProjeQtOrWine .dijitSplitterH, .ProjeQtOrWine .dijitGutterH, .ProjeQtOrWine .dijitSplitterV, .ProjeQtOrWine .dijitGutterV,
.ProjeQtOrWine .loginBackground {
  background-color: #501C55; 
}

.ProjeQtOrWine .dijitMenuItemHover,
.ProjeQtOrWine .dijitMenuPassive .dijitMenuItemHover,
.ProjeQtOrWine .dijitMenuItemSelected  {
  background-color: #501C55;  color: #EEEEEE; 
}

.ProjeQtOrWine #mapDiv, .ProjeQtOrWine #messageDiv, .ProjeQtOrWine #listDiv, .ProjeQtOrWine #formDiv, .ProjeQtOrWine .display, .ProjeQtOrWine .background,
.ProjeQtOrWine .dijitTitlePaneContentInner, 
.ProjeQtOrWine #mainDiv, .ProjeQtOrWine #centerDiv {
  background-color: #fafafa;
}
.ProjeQtOrWine #toolBarDiv, .ProjeQtOrWine #statusBarDiv, .ProjeQtOrWine .statusBar { /**toolbar**/
   color: #EEEEEE;
   background: url(images/titleBarDarkPurple.png) #501C55 top repeat-x !important;
}
.ProjeQtOrWine .tabLabel, .ProjeQtOrWine .label {
  background-color: #fafafa; color: #501C55;
}
.ProjeQtOrWine .dojoxGridRowOver .dojoxGridCell {
 background: url(images/titleBar.png) #dedede top repeat-x !important;
 color: #501C55 !important;
} 

.ProjeQtOrWine #buttonDiv { /**toolbar**/
  background-color: #501C55;  color: #FFFFFF;  
}

.ProjeQtOrWine .title {
  font-weight: 600;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000;
}
.ProjeQtOrWine .listTitle {
  background-color: #501C55;  
  color: #FFFFFF;
}
.ProjeQtOrWine .dojoxGridRowSelected { /**selected lines**/
  background-color: #501C55;  color: #EEEEEE;   
}
.ProjeQtOrWine .display, .ProjeQtOrWine #printPreview {
  border: 1px solid #fafafa;
}

.ProjeQtOrWine .titleProject {
 color: #EEEEEE;
 text-shadow: 2px 2px 4px #000000;
   
}

.ProjeQtOrWine #logoDiv,.ProjeQtOrWine .listTitle,
.ProjeQtOrWine .dijitTitlePane .dijitTitlePaneTitle,
.ProjeQtOrWine .dojoxGridRowSelected, .ProjeQtOrWine #buttonDiv  {
  background: url(images/titleBarDarkPurple.png) #501C55 top repeat-x !important;
}

/* =============================================================================== */
/* SPECIFIC ProjeQtOr Contrasted THEME                                                             */
/* =============================================================================== */

.ProjeQtOrDark html, .ProjeQtOrDark body, .ProjeQtOrDark #leftDiv, .ProjeQtOrDark #logoDiv,
.ProjeQtOrDark #buttonDiv,
.ProjeQtOrDark .dijitSplitterH, .ProjeQtOrDark .dijitGutterH, .ProjeQtOrDark .dijitSplitterV, .ProjeQtOrDark .dijitGutterV,
.ProjeQtOrDark .dijitMenuItemHover,
.ProjeQtOrDark .dijitMenuPassive .dijitMenuItemHover,
.ProjeQtOrDark .dijitMenuItemSelected,
.ProjeQtOrDark .loginBackground    {
  background-color: #545281;
}

.ProjeQtOrDark #mapDiv, .ProjeQtOrDark #messageDiv, .ProjeQtOrDark #listDiv, .ProjeQtOrDark #detailDiv, .ProjeQtOrDark #formDiv, .ProjeQtOrDark .display, .ProjeQtOrDark .background,
.ProjeQtOrDark .dijitTitlePaneContentInner, 
.ProjeQtOrDark #mainDiv,  .ProjeQtOrDark #contentDiv, .ProjeQtOrDark #centerDiv {
  background-color: #fafafa;
}

.ProjeQtOrDark #statusBarDiv, .ProjeQtOrDark .statusBar, 
.ProjeQtOrDark .dojoxGridRowSelected, .ProjeQtOrDark .listTitle,   
.ProjeQtOrDark .section, .ProjeQtOrDark .dijitTitlePane .dijitTitlePaneTitle {
  background-color: #545281;  color: #EEEEEE;  
}

.ProjeQtOrDark .tabLabel, .ProjeQtOrDark .label {
  background-color: #fafafa; color: #545281;
}
.ProjeQtOrDark .dojoxGridRowOver .dojoxGridCell {
 /*background-color: #aaaaaa; color: #545281;*/
 background: url(images/titleBar.png) #dedede top repeat-x !important;
 color: #545281 !important;
} 
.ProjeQtOrDark .title {
  font-weight: 600;
  text-shadow: 1px 1px #000000;
}

.ProjeQtOrDark .display, .ProjeQtOrDark #printPreview {
  border: 1px solid #fafafa;
}
.ProjeQtOrDark #toolBarDiv {
  color: #545281;
  background-color: #545281; 
}
.ProjeQtOrDark .titleProject {
 color: #fafafa;  
}
.ProjeQtOrDark .title {
  font-weight: 600;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000;
}

.ProjeQtOrDark #toolBarDiv, .ProjeQtOrDark #statusBarDiv, .ProjeQtOrDark .statusBar { /**toolbar**/
   color: #EEEEEE;
   background: url(images/titleBarDark.png) #919191 top repeat-x !important;
}

.ProjeQtOrDark #logoDiv,
.ProjeQtOrDark .listTitle,
.ProjeQtOrDark .dijitTitlePane .dijitTitlePaneTitle,
.ProjeQtOrDark .dojoxGridRowSelected, 
.ProjeQtOrDark #buttonDiv  {
  background: url(images/titleBarDark.png) #919191 top repeat-x !important;
}

/* =============================================================================== */
/* SPECIFIC ProjeQtOr Light THEME                                                             */
/* =============================================================================== */

.ProjeQtOrLight html, .ProjeQtOrLight body, .ProjeQtOrLight #leftDiv, .ProjeQtOrLight #logoDiv,
.ProjeQtOrLight #buttonDiv,
.ProjeQtOrLight .dijitSplitterH, .ProjeQtOrLight .dijitGutterH, .ProjeQtOrLight .dijitSplitterV, .ProjeQtOrLight .dijitGutterV,
.ProjeQtOrLight .dijitMenuItemHover,
.ProjeQtOrLight .dijitMenuPassive .dijitMenuItemHover,
.ProjeQtOrLight .dijitMenuItemSelected,
.ProjeQtOrLight .loginBackground    {
  background-color: #d4d5da;
}

.ProjeQtOrLight #mapDiv, .ProjeQtOrLight #messageDiv, .ProjeQtOrLight #listDiv, .ProjeQtOrLight .display, .ProjeQtOrLight .background,
.ProjeQtOrLight .dijitTitlePaneContentInner, 
.ProjeQtOrLight #detailDiv, .ProjeQtOrLight #formDiv,
.ProjeQtOrLight #mainDiv,  .ProjeQtOrLight #contentDiv, .ProjeQtOrLight #centerDiv {
  background-color: #fcfcfc;
}

.ProjeQtOrLight #toolBarDiv, .ProjeQtOrLight #statusBarDiv, .ProjeQtOrLight .statusBar, 
.ProjeQtOrLight .dojoxGridRowSelected, .ProjeQtOrLight .listTitle,
.ProjeQtOrLight .section, .ProjeQtOrLight .dijitTitlePane .dijitTitlePaneTitle  {
  background-color: #d4d5da;  color: #545281;  
}
.ProjeQtOrLight #toolBarDiv, .ProjeQtOrLight #statusBarDiv, .ProjeQtOrLight .statusBar { /**toolbar**/
   color: #505050;
   background: url(images/titleBar.png) #dedede top repeat-x !important;
}

.ProjeQtOrLight .tabLabel, .ProjeQtOrLight .label {
  background-color: #fcfcfc; color: #545281;
}
.ProjeQtOrLight .dojoxGridRowOver .dojoxGridCell {
 /*background-color: #aaaaaa; color: #545281;*/
 background: url(images/titleBar.png) #dedede top repeat-x !important;
 color: #545281 !important;
} 

.ProjeQtOrLight .title {
  font-weight: 600;
  text-shadow: 1px 1px #FEFEFE;
}

.ProjeQtOrLight .display, .ProjeQtOrLight #printPreview {
  border: 1px solid #fcfcfc;
}

.ProjeQtOrLight .titleProject {
 color: #545281;  
}
.ProjeQtOrLight .title {
  font-weight: 600;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000;
}
.ProjeQtOrLight #logoDiv,
.ProjeQtOrLight .listTitle,
.ProjeQtOrLight .dijitTitlePane .dijitTitlePaneTitle,
.ProjeQtOrLight .dojoxGridRowSelected, 
.ProjeQtOrLight #buttonDiv  {
  background: url(images/titleBar.png) #dedede top repeat-x !important;
}
/* =============================================================================== */
/* OLD PROJECTORRIA CONTRASTED THEME                                                             */
/* =============================================================================== */

.ProjectOrRiaContrasted html, .ProjectOrRiaContrasted body, .ProjectOrRiaContrasted #leftDiv, .ProjectOrRiaContrasted #logoDiv,
.ProjectOrRiaContrasted #buttonDiv,
.ProjectOrRiaContrasted .dijitSplitterH, .ProjectOrRiaContrasted .dijitGutterH, .ProjectOrRiaContrasted .dijitSplitterV, .ProjectOrRiaContrasted .dijitGutterV,
.ProjectOrRiaContrasted .dijitMenuItemHover,
.ProjectOrRiaContrasted .dijitMenuPassive .dijitMenuItemHover,
.ProjectOrRiaContrasted .dijitMenuItemSelected,
.ProjectOrRiaContrasted .loginBackground    {
  background-color: #545281;
}

.ProjectOrRiaContrasted #mapDiv, .ProjectOrRiaContrasted #messageDiv, .ProjectOrRiaContrasted #listDiv, .ProjectOrRiaContrasted #detailDiv, .ProjectOrRiaContrasted #formDiv, .ProjectOrRiaContrasted .display, .ProjectOrRiaContrasted .background,
.ProjectOrRiaContrasted #printPreview, .ProjectOrRiaContrasted .dijitTitlePaneContentInner, 
.ProjectOrRiaContrasted #mainDiv,  .ProjectOrRiaContrasted #contentDiv, .ProjectOrRiaContrasted #centerDiv {
  background-color: #ececec;
}

.ProjectOrRiaContrasted #statusBarDiv, .ProjectOrRiaContrasted .statusBar, 
.ProjectOrRiaContrasted .dojoxGridRowSelected, .ProjectOrRiaContrasted .listTitle,   
.ProjectOrRiaContrasted .section, .ProjectOrRiaContrasted .dijitTitlePane .dijitTitlePaneTitle, .ProjectOrRiaContrasted .title {
  background-color: #545281;  color: #EEEEEE;  
}

.ProjectOrRiaContrasted .tabLabel, .ProjectOrRiaContrasted .label, .ProjectOrRiaContrasted .dojoxGridRowOver .dojoxGridCell {
  background-color: #ececec; color: #545281;
}

.ProjectOrRiaContrasted .display, .ProjectOrRiaContrasted #printPreview {
  border: 1px solid #ececec;
}
.ProjectOrRiaContrasted #toolBarDiv {
  color: #545281;
  background-color: #545281; 
}
.ProjectOrRiaContrasted .titleProject {
 color: #ececec;  
}

.ProjectOrRiaContrasted #mainDiv {
    /*scrollbar-face-color: #ececec;
    scrollbar-shadow-color: #ececec;
    scrollbar-highlight-color: #ececec;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #000000; 
    scrollbar-track-color: #ececec;
    scrollbar-arrow-color: #545281;*/
}


/* =============================================================================== */
/* OLD PROJECTORRIA LIGHT THEME                                                             */
/* =============================================================================== */

.ProjectOrRiaLight html, .ProjectOrRiaLight body, .ProjectOrRiaLight #leftDiv, .ProjectOrRiaLight #logoDiv,
.ProjectOrRiaLight #buttonDiv,
.ProjectOrRiaLight .dijitSplitterH, .ProjectOrRiaLight .dijitGutterH, .ProjectOrRiaLight .dijitSplitterV, .ProjectOrRiaLight .dijitGutterV,
.ProjectOrRiaLight .dijitMenuItemHover,
.ProjectOrRiaLight .dijitMenuPassive .dijitMenuItemHover,
.ProjectOrRiaLight .dijitMenuItemSelected,
.ProjectOrRiaLight .loginBackground    {
  background-color: #d4d5da;
}

.ProjectOrRiaLight #mapDiv, .ProjectOrRiaLight #messageDiv, .ProjectOrRiaLight #listDiv, .ProjectOrRiaLight .display, .ProjectOrRiaLight .background,
.ProjectOrRiaLight #printPreview, .ProjectOrRiaLight .dijitTitlePaneContentInner, 
.ProjectOrRiaLight #detailDiv, .ProjectOrRiaLight #formDiv,
.ProjectOrRiaLight #mainDiv,  .ProjectOrRiaLight #contentDiv, .ProjectOrRiaLight #centerDiv {
  background-color: #ececec;
}

.ProjectOrRiaLight #toolBarDiv, .ProjectOrRiaLight #statusBarDiv, .ProjectOrRiaLight .statusBar, 
.ProjectOrRiaLight .dojoxGridRowSelected, .ProjectOrRiaLight .listTitle,
.ProjectOrRiaLight .section, .ProjectOrRiaLight .dijitTitlePane .dijitTitlePaneTitle, .ProjectOrRiaLight .title  {
  background-color: #d4d5da;  color: #545281;  
}

.ProjectOrRiaLight .tabLabel, .ProjectOrRiaLight .label, .ProjectOrRiaLight .dojoxGridRowOver .dojoxGridCell {
  background-color: #ececec; color: #545281;
}

.ProjectOrRiaLight .display, .ProjectOrRiaLight #printPreview {
  border: 1px solid #ececec;
}

.ProjectOrRiaLight .titleProject {
 color: #545281;  
}
.ProjectOrRiaLight #mainDiv {
    /*scrollbar-face-color: #ececec;
    scrollbar-shadow-color: #ececec;
    scrollbar-highlight-color: #ececec;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #000000; 
    scrollbar-track-color: #ececec;
    scrollbar-arrow-color: #d4d5da;*/
}
/* =============================================================================== */
/* OLD PROJECT'OR RIA THEME                                                             */
/* =============================================================================== */

.ProjectOrRia html, .ProjectOrRia body, .ProjectOrRia #leftDiv, .ProjectOrRia #logoDiv,
.ProjectOrRia .dijitSplitterH, .ProjectOrRia .dijitGutterH, .ProjectOrRia .dijitSplitterV, .ProjectOrRia .dijitGutterV,
.ProjectOrRia .loginBackground {
  background-color: #545281; 
  /* background-color: #d4d5da; */
}

.ProjectOrRia .dijitMenuItemHover,
.ProjectOrRia .dijitMenuPassive .dijitMenuItemHover,
.ProjectOrRia .dijitMenuItemSelected  {
  background-color: #545281;  color: #EEEEEE; 
  /* background-color: #d4d5da; color: #545281; */  
}

.ProjectOrRia #mapDiv, .ProjectOrRia #messageDiv, .ProjectOrRia #listDiv, .ProjectOrRia #detailDiv, .ProjectOrRia #formDiv, .ProjectOrRia .display, .ProjectOrRia .background,
.ProjectOrRia #printPreview, .ProjectOrRia .dijitTitlePaneContentInner, 
.ProjectOrRia #mainDiv,  .ProjectOrRia #contentDiv, .ProjectOrRia #centerDiv {
  background-color: #ececec;
}
.ProjectOrRia #buttonDiv { /**toolbar**/
  background-color: #d4d5da;  color: #545281;  
}
.ProjectOrRia #toolBarDiv, .ProjectOrRia #statusBarDiv, .ProjectOrRia .statusBar { /**toolbar**/
  /*background-color: #545281;  color: #EEEEEE; */ 
   background-color: #d4d5da;  color: #545281;
}
  
.ProjectOrRia .dojoxGridRowSelected { /**selected lines**/
  background-color: #545281;  color: #EEEEEE; 
  /* background-color: #d4d5da;  color: #545281; */   
} 

.ProjectOrRia .listTitle {
  /* background-color: #545281;  color: #EEEEEE; */  
  background-color: #d4d5da;  color: #545281; 
}

.ProjectOrRia .tabLabel, .ProjectOrRia .label, .ProjectOrRia .dojoxGridRowOver .dojoxGridCell {
  background-color: #ececec; color: #545281;
}
  
.ProjectOrRia .dijitTitlePane .dijitTitlePaneTitle {
  background-color: #d4d5da;  color: #545281;
  border-top: 1px solid #A0A0A0;
  border-left: 1px solid #A0A0A0;
  border-bottom: 1px solid #FFFFFF; 
  border-right: 1px solid #FFFFFF;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.ProjectOrRia .section {
  background-color: #d4d5da;  color: #545281;
  border-top: 1px solid #A0A0A0;
  border-left: 1px solid #A0A0A0;
  border-bottom: 1px solid #A0A0A0; 
  border-right: 1px solid #A0A0A0;
}

.ProjectOrRia .display, .ProjectOrRia #printPreview {
  border: 1px solid #ececec;
}

.ProjectOrRia .titleProject {
 color: #545281;  
}

.ProjectOrRia #mainDiv {
    /*scrollbar-face-color: #ececec;
    scrollbar-shadow-color: #ececec;
    scrollbar-highlight-color: #ececec;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #000000; 
    scrollbar-track-color: #ececec;
    scrollbar-arrow-color: #545281;*/
}

/* =============================================================================== */
/* COMMON                                                                          */
/* =============================================================================== */

.dijitTitlePane .dijitTitlePaneTitle, .section {
  /*background: url(images/titleBarDark.png) #dedede bottom repeat-x !important;*/
  border-top: 1px solid #A0A0A0;
  border-left: 1px solid #A0A0A0;
  border-bottom: 1px solid #FFFFFF; 
  border-right: 1px solid #FFFFFF;
  -moz-border-radius: 7px;
  border-radius: 7px;
  color: #FEFEFE !important;
  font-weight: 600 !important;
  text-shadow: 1px 1px #606060;
}
.dijitTitlePane .dijitTitlePaneTitle {
  /*background: url(images/titleBarDark.png) #dedede top repeat-x !important;*/
}
#resultDivMultiple span.messageOK, #resultDivMultiple span.messageERROR, #resultDivMultiple span.messageWARNING {
	text-shadow: 1px 1px #FFFFFF;
}